.sem-input{
  display: inline-block;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  width: 160px;
  box-sizing: border-box;
  border: solid 1px #52caff;
  padding: 7px 8px;
  padding-right: 30px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  input{
    border:0;
    display: inline-block;
    width: 25%;
    height: 20px;
    padding:0;
    font-size: 14px;
    text-align: center;
  }
  input:first-child{
    text-align: right;
  }
  img{
    position: absolute;
    right: 5px;
    top: 7px;
  }
  input:focus{
    outline:0;
  }
}