

.uploader-file{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 23px;
  opacity: 0;
  filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  left: -5px;
  top: -2px;
  cursor: pointer;
  z-index: 2;
  background: #fff;
  border-color: #a5dff8;
}
.uploader-file:hover{
  color: #a5dff8;
}
.file-list{
  width: 100%;
  height: 200px;
  .block{
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 10px;
  }
  .block:last-child{
    margin-right: 0;
  }
}
