/**
 * 创建于：6/8/16
 * 创建人：qizhang
 */
@import "../../styles/variables";

.sem-form-control{
  display: inline-block;
  width: 150px;
  &.block{
    input{
      width: 100%;
    }

  }
  &.thin{
    input{
      height: $form-control-height-thin;
      padding: ($form-control-height-thin - 20px) / 2 10px;
    }

  }
  input{
    border: solid 1px $color-primary;
    box-sizing: border-box;
    height: $form-control-height;
    line-height: (20px/12px);
    padding: ($form-control-height - 20px) / 2 10px;
    outline: none;
    border-radius: $border-radius;
    width: 100%;
    vertical-align: middle;
    font-size: 12px;
  }

}
.sem-form-control{
  display: inline-block;
  textarea{
    border: solid 1px $color-primary;
    box-sizing: border-box;
    line-height: 1.3;
    padding: ($form-control-height - 20px) / 2 10px;
    outline: none;
    border-radius: $border-radius;
    width: 150px;
    font-size: 12px;
  }
}