
.condition-body{
    position: relative;
    z-index: 3;
    .side-search{
      .search-title{
        font-size: 16px;
        text-align: center;
        padding-bottom: 16px;
        font-weight: bold;
      }
      .search-child{
        display: flex;
        height: 36px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 15px;
        align-items: center;
        .sem-datepicker{
          display: inline-flex;
          .datepicker-drop-view{
            line-height: 21px;
          }
        }

        .select-area{
          box-sizing: border-box;
          text-align: center;
          width: 100%;
          min-width:32px;
          height:36px;
          line-height: 36px;
          border:solid 1px #52caff;
          border-radius: 4px;
          .area-text{
            display: inline-block;
            height: 36px;
            width: 65%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .icon{
            position: relative;
            top: 11px;
            margin:0 10px;
            width: 10px;
            height: 10px;
            float: right;
            border: none;
            background-image: url("../../../../../../../components/addressselect/drop_icon.png");
          }
        }

        .search-button{
          width: 81.7%;
          vertical-align: baseline;
        }
      }
      td{
        font-size: 14px;
        padding: 4px 0;
        p{
          margin: 0;
          padding: 0;
          margin-bottom: 8px;
          margin-top: 6px;
        }
      }
    }
    .condition-area{
      width: 100%;
      height: auto;
      margin:8px 0;
    }
}

.sem-air-control-wrapper{
  width: 100%;
  height: auto;
  font-size: 16px;
  overflow-x: scroll;
  background-color: #f4f5f4;

}

